@charset "UTF-8";
@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@media screen and (max-width: 765px) {
  html {
    font-size: 0.9375rem; } }

@media screen and (max-width: 480px) {
  html {
    font-size: 0.875rem; } }

html,
body {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: 'Ubuntu', Arial, Helvetica;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  padding: 0rem;
  margin: 0rem;
  list-style: none; }

.visuallyhidden {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  margin: -0.0625rem;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  position: relative;
  width: 100%;
  height: 100%; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

.section {
  height: 100%;
  min-height: 650px; }

.order-link {
  min-width: 6.125rem;
  padding: 0.625rem 1.0625rem;
  border-radius: 5px;
  background-color: #e25028;
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .order-link:hover {
    background-color: #cb411b; }

.clear-link {
  text-decoration: none;
  color: white; }

.icon {
  color: #fff; }

.fixed-menu {
  position: fixed;
  top: 5rem;
  right: 2.8125rem; }
  @media screen and (max-width: 765px) {
    .fixed-menu {
      display: none; } }

.fixed-menu__item {
  margin-bottom: 0.625rem; }
  .fixed-menu__item.active .fixed-menu__ {
    border-color: #fff; }

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: relative;
  display: block;
  border: 0.0625rem solid transparent; }
  .fixed-menu__link:hover {
    border-color: #fff; }
  .fixed-menu__link:before {
    content: '';
    display: block;
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.greeting {
  background: url(../images/background/greeting-bg.png) center center no-repeat;
  background-size: cover;
  position: relative; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 0.625rem; }

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto; }

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header__nav {
  margin-right: 0.9375rem; }
  @media screen and (max-width: 765px) {
    .header__nav {
      display: none; } }

.header__nav-list {
  margin: 0;
  padding: 0; }

.header__nav-item {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase; }
  .header__nav-item:after {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 0.75rem; }
  .header__nav-item:last-child:after {
    display: none; }

.header__nav-link {
  display: inline-block;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  vertical-align: middle;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  text-decoration: none;
  color: white; }
  .header__nav-link:hover {
    text-decoration: underline; }

.greeting__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.greeting__main {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.greeting__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 765px) {
    .greeting__content {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.greeting__content-right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }
  @media screen and (max-width: 765px) {
    .greeting__content-right {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.greeting__content-left {
  display: block;
  margin-right: 0.6875rem; }
  @media screen and (max-width: 480px) {
    .greeting__content-left {
      max-width: 100%; } }

.section__title {
  font-size: 4.5rem;
  color: #f9b43b;
  font-family: 'Gagalin';
  font-weight: 300;
  line-height: 1.42;
  margin: 0; }

.greeting__content-text {
  color: #fff;
  font-family: 'Lifehack';
  font-size: 4.0625rem;
  font-weight: 400;
  line-height: 1; }
  @media screen and (max-width: 765px) {
    .greeting__content-text {
      text-align: center; } }

.greeting__dropdown {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .greeting__dropdown {
      margin-bottom: 31px; } }

.greeting__triangle {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-bottom: 0.1875rem solid #fff;
  border-right: 0.1875rem solid #fff;
  border-bottom-right-radius: 0.4375rem;
  width: 1.875rem;
  height: 1.875rem; }

.best {
  background-image: url("../images/background/we-bg.png");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.best__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.section__title--best {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: black; }

.best__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.best__description-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 480px) {
    .best__description-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.best__description-item {
  padding-top: 3.4375rem;
  padding-right: 2.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 480px) {
    .best__description-item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }

.best__description-title {
  padding-top: 2.125rem;
  text-align: center;
  font-family: 'Lifehack';
  font-size: 1.5rem; }
  @media screen and (max-width: 480px) {
    .best__description-title {
      padding: 0;
      text-align: left; } }

@media screen and (max-width: 480px) {
  .best__description-icon {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.best__description-text {
  padding-top: 0.75rem;
  text-align: justify;
  text-align-last: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 0.875rem; }
  @media screen and (max-width: 480px) {
    .best__description-text {
      text-align: left;
      text-align-last: auto; } }

.reviews__list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__item {
  width: 25%;
  height: 50%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative; }
  .reviews__item:hover .reviews__hover {
    opacity: 1; }
  @media screen and (max-width: 765px) {
    .reviews__item {
      width: 50%;
      height: 25%; } }

.reviews__title {
  color: white; }

.reviews__hover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(20, 20, 20, 0.7);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

@media screen and (max-width: 765px) {
  .reviews__comment-detail {
    margin: 0 auto; } }

.reviews__comment {
  width: 13.875rem;
  margin: 0 auto;
  padding-top: 3.125rem;
  color: #fff; }
  @media screen and (max-width: 765px) {
    .reviews__comment {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 275px;
      padding-top: 35px; } }
  @media screen and (max-width: 480px) {
    .reviews__comment {
      padding-top: 45px;
      width: auto; } }

.reviews__comment-title {
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "Gagalin"; }
  @media screen and (max-width: 765px) {
    .reviews__comment-title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media screen and (max-width: 480px) {
    .reviews__comment-title {
      font-size: 24px; } }

.reviews__comment-text {
  padding-top: 1.875rem;
  padding-bottom: 1.0625rem;
  line-height: 1.5rem;
  font-size: 0.875rem;
  text-align: left;
  color: white; }
  @media screen and (max-width: 765px) {
    .reviews__comment-text {
      text-align: center;
      padding-top: 15px; } }
  @media screen and (max-width: 480px) {
    .reviews__comment-text {
      display: none; } }

.order-link-reviews {
  background-color: #2f3234; }
  .order-link-reviews:hover {
    background-color: #1e2021; }
  @media screen and (max-width: 480px) {
    .order-link-reviews {
      content: "читать отзыв";
      margin-top: 29px; } }

.burgers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.burgers__container {
  overflow: hidden; }

.burgers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  will-change: right; }

.burgers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.burgers__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 441px; }

.right-btn {
  position: absolute;
  right: 100px; }

.burgers-btn__right, .burgers-btn__left {
  cursor: pointer; }

.burgers-btn__slider-left, .burgers-btn__slider-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute; }

.burgers-btn__slider-left {
  left: 50px; }

.burgers__triangle-left {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  border-bottom: 0.1875rem solid black;
  border-right: 0.1875rem solid black;
  border-bottom-right-radius: 0.4375rem;
  width: 1.875rem;
  height: 1.875rem; }

.burgers__triangle-right {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-bottom: 0.1875rem solid black;
  border-right: 0.1875rem solid black;
  border-bottom-right-radius: 0.4375rem;
  width: 1.875rem;
  height: 1.875rem; }

.section__order-delivety {
  background-image: url("../images/background/order-bg.jpg");
  background-size: cover;
  background-position: center center; }

.section__title-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 2.75rem; }
  @media screen and (max-width: 765px) {
    .section__title-order {
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .section__title-order {
      text-align: center; } }

.order-delivety {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.section__order-delivery {
  background-color: gray; }

.form__right, .form__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 765px) {
    .form__right, .form__left {
      width: 470px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media screen and (max-width: 480px) {
    .form__right, .form__left {
      width: 97%; } }

.form__block {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.25rem; }

.form__block-title {
  color: #fff; }

@media screen and (max-width: 480px) {
  .form-mobile__none {
    display: none; } }

.form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 765px) {
    .form__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.form__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 765px) {
    .form__line {
      width: 100%; } }

.form__input {
  outline: none;
  border: 0.0625rem solid black;
  width: 100%;
  min-height: 2.0625rem;
  border-radius: 0.3125rem;
  padding-left: 1.3125rem; }
  .form__input:focus {
    border: 0.125rem solid #f9b43b; }

.form__textarea {
  outline: none;
  width: 100%;
  height: 6.8125rem; }
  .form__textarea:focus {
    border: 0.125rem solid #f9b43b;
    border-radius: 0.3125rem; }

.form__btn-order, .form__btn-clear {
  margin-right: 1.25rem;
  display: inline-block; }

.form__radio-label {
  color: #fff; }
  .form__radio-label::before {
    display: inline-block;
    content: "";
    background-color: white;
    border: 0.25rem solid white;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-right: 0.625rem; }
  .form__radio-label:after {
    content: " ";
    margin-right: 1.25rem; }

.form__input-radiobtn:checked + .form__radio-label:before {
  background-color: #e25028; }

.form__checkbox-label {
  color: #fff; }
  .form__checkbox-label::before {
    display: inline-block;
    content: " ";
    background-color: #fff;
    width: 0.9375rem;
    height: 0.9375rem;
    margin-right: 0.625rem;
    vertical-align: middle; }

.form__input-checkbox:checked + .form__checkbox-label:before {
  content: "\2713";
  color: #e25028;
  text-align: center;
  font-size: 1.25rem;
  line-height: 0.9375rem;
  vertical-align: middle; }

.form__textarea {
  padding-left: 1.3125rem;
  resize: none; }

.team {
  background-image: url("../images/background/team-bg.jpg");
  background-size: cover;
  background-position: center center;
  position: relative; }

.team__content {
  width: 70%; }
  @media screen and (max-width: 765px) {
    .team__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.team__container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  background-color: rgba(47, 50, 52, 0.94);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 765px) {
    .team__container {
      width: 100%; } }

.team__acco-item {
  margin-bottom: 1.875rem;
  text-align: left; }

.team__acco {
  color: #fff; }
  @media screen and (max-width: 765px) {
    .team__acco {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.team__acco-cause {
  font-size: 0.875rem;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-family: "Gagalin";
  color: #fff; }
  .team__acco-cause::before {
    content: " ";
    top: 0.3125rem;
    display: block;
    position: relative;
    margin-right: 0.5625rem;
    width: 0;
    height: 0;
    border: 0.5rem solid transparent;
    border-bottom-width: 0.125rem;
    border-top-color: #f9b43b; }
  @media screen and (max-width: 765px) {
    .team__acco-cause {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 24px; } }

.team__acco-avatar {
  width: 6.25rem;
  height: 6.25rem;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  overflow: hidden;
  background-repeat: no-repeat; }

.team__acco-img {
  display: none;
  max-height: 100%;
  max-width: 100%; }

.team__acco-item--active .team__acco-cause {
  color: #f9b43b; }
  .team__acco-item--active .team__acco-cause:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.team__acco-item--active .team__acco-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 765px) {
    .team__acco-item--active .team__acco-content {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.team__acco-content {
  padding-left: 1.5625rem;
  padding-top: 1.0625rem;
  display: none; }

.team__acco-text {
  padding-left: 1.3125rem;
  font-size: 0.875rem;
  text-align: justify;
  width: 13.0625rem; }
  @media screen and (max-width: 765px) {
    .team__acco-text {
      width: 331px;
      text-align: center;
      padding: 0;
      padding-top: 22px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.team__acco-text-title {
  line-height: 0.9375rem;
  font-weight: 700; }

.menu {
  background: url("../images/background/burgermenu-bg.jpg") 50% no-repeat;
  background-size: cover;
  position: relative; }

.section__title-menu {
  position: absolute;
  color: #fff;
  top: 10%;
  left: 10%; }
  @media screen and (max-width: 765px) {
    .section__title-menu {
      left: 5%; } }

.menu-burger__list {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu-burger__item {
  height: 100%; }

.menu-burger__bg {
  width: 100%;
  height: 100%;
  background: rgba(47, 50, 52, 0.93); }

.menu-burger__trigger {
  width: 5rem;
  float: left;
  display: block;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-decoration: none;
  position: relative; }

.menu-burger__trigger-text {
  font-size: 2.5rem;
  font-family: "Gagalin";
  color: #fff;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  -webkit-transform: rotate(-90deg) translateY(-50%);
  -ms-transform: rotate(-90deg) translateY(-50%);
  transform: rotate(-90deg) translateY(-50%);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  left: 50%;
  top: 100%;
  margin-top: -1.25rem; }

.menu-burger__content {
  height: 100%;
  float: left;
  background: rgba(47, 50, 52, 0.93);
  color: #fff;
  width: 0;
  overflow: hidden; }

.menu-burger__text {
  font-family: "Ubuntu";
  font-size: 0.875rem;
  padding: 3.75rem 1.875rem;
  width: 100%;
  line-height: 1.8;
  display: none; }

.menu__acco-active .menu-burger__trigger .menu-burger__trigger-text {
  color: #f9b43b; }

.menu__acco-active .menu-burger__content {
  width: 600px;
  overflow: visible; }
  .menu__acco-active .menu-burger__content .menu-burger__text {
    display: block; }

.footer {
  background-image: url("../images/background/footer.jpg");
  background-position: center center;
  background-size: cover;
  width: 100%; }

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

.footer__contacts {
  font-size: 0.875rem; }

.footer__contacts-adress {
  margin-bottom: 0.3125rem; }

.footer__content {
  height: 3.625rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff; }

.footer__left, .footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer__tel {
  text-decoration: none;
  color: #e25028; }

.footer__tel-icon {
  margin-right: 0.3125rem; }

.social__item {
  display: inline-block;
  margin-left: 1.25rem; }
  .social__item:first-child {
    margin-left: 0; }

.icon {
  opacity: 0.3;
  vertical-align: middle;
  fill: #00bfa5;
  width: 1.25rem;
  height: 1.25rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .icon:hover {
    opacity: 1; }

/*# sourceMappingURL=main.css.map */