@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Ubuntu', Arial, Helvetica;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

ul {
  padding: 0px;
  margin: 0px;
  list-style: none; }

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  width: 100%;
  height: 100%; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.container {
  position: relative;
  margin: 0 auto;
  max-width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

.section {
  height: 100%;
  min-width: 940px;
  min-height: 650px; }

.order-link {
  min-width: 6.125rem;
  padding: 0.625rem 1.0625rem;
  border-radius: 5px;
  background-color: #e25028;
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .order-link:hover {
    background-color: #cb411b; }

.clear-link {
  text-decoration: none;
  color: white; }

.icon {
  color: #fff; }

.greeting {
  background-image: url(../images/background/greeting-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: relative; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 10px; }

.header__logo {
  margin-right: auto; }

.header__nav {
  margin-right: 0.9375rem; }

.header__nav-list {
  margin: 0;
  padding: 0; }

.header__nav-item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: uppercase; }
  .header__nav-item:after {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 12px; }
  .header__nav-item:last-child:after {
    display: none; }

.header__nav-link {
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  vertical-align: middle;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  text-decoration: none;
  color: white; }
  .header__nav-link:hover {
    text-decoration: underline; }

.greeting__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.greeting__main {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.greeting__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.greeting__content-left, .greeting__content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

.greeting__content-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.section__title {
  font-size: 72px;
  color: #f9b43b;
  font-family: 'Gagalin';
  font-weight: 300;
  line-height: 1.42;
  margin: 0; }

.greeting__content-text {
  color: #fff;
  font-family: 'Lifehack';
  font-size: 4.0625rem;
  font-weight: 400;
  line-height: 1; }

.greeting__dropdown {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.greeting__triangle {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  border-bottom-right-radius: 7px;
  width: 30px;
  height: 30px; }

.best {
  background-image: url("../images/background/we-bg.png");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.best__main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.section__title--best {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 8.3125rem;
  color: black; }

.best__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.best__description-item {
  padding-top: 55px;
  padding-right: 36px;
  width: 290px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.best__description-title {
  padding-top: 34px;
  text-align: center;
  font-family: 'Lifehack';
  font-size: 24px; }

.best__description-text {
  padding-top: 12px;
  text-align: justify;
  text-align-last: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 24px;
  font-size: 'Ubuntu';
  font-weight: 300;
  font-size: 0.875rem; }

.reviews__list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__item {
  width: 25%;
  height: 50%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .reviews__item:hover .reviews__hover {
    opacity: 1; }

.reviews__title {
  color: white; }

.reviews__hover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(20, 20, 20, 0.7);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.reviews__comment {
  width: 13.875rem;
  margin: 0 auto;
  padding-top: 50px;
  color: #fff; }

.reviews__comment-title {
  font-size: 14px;
  font-weight: 400;
  font-family: "Gagalin"; }

.reviews__comment-text {
  padding-top: 30px;
  padding-bottom: 17px;
  line-height: 24px;
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: white; }

.order-link-reviews {
  background-color: #2f3234; }
  .order-link-reviews:hover {
    background-color: #1e2021; }

.section__order-delivety {
  background-image: url("../images/background/order-bg.jpg");
  background-size: cover;
  background-position: center center; }

.section__title-order {
  margin-bottom: 44px; }

.order-delivety {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.section__order-delivery {
  background-color: gray; }

.form__right, .form__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.form__block {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 20px; }

.form__block-title {
  color: #fff; }

.form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px; }

.form__input {
  outline: none;
  border: 1px solid black;
  width: 100%;
  min-height: 33px;
  border-radius: 5px;
  padding-left: 21px; }
  .form__input:focus {
    border: 2px solid #f9b43b; }

.form__textarea {
  outline: none;
  width: 100%;
  height: 109px; }
  .form__textarea:focus {
    border: 2px solid #f9b43b;
    border-radius: 5px; }

.form__btn-order, .form__btn-clear {
  margin-right: 20px;
  display: inline-block; }

.form__radio-label {
  color: #fff; }
  .form__radio-label::before {
    display: inline-block;
    content: "";
    background-color: white;
    border: 4px solid white;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 10px; }
  .form__radio-label:after {
    content: " ";
    margin-right: 20px; }

.form__input-radiobtn:checked + .form__radio-label:before {
  background-color: #e25028; }

.form__checkbox-label {
  color: #fff; }
  .form__checkbox-label::before {
    display: inline-block;
    content: " ";
    background-color: #fff;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    vertical-align: middle; }

.form__input-checkbox:checked + .form__checkbox-label:before {
  content: "\2713";
  color: #e25028;
  text-align: center;
  font-size: 20px;
  line-height: 15px;
  vertical-align: middle; }

.form__textarea {
  padding-left: 21px;
  resize: none; }

.team {
  background-image: url("../images/background/team-bg.jpg");
  background-size: cover;
  background-position: center center;
  position: relative; }

.team__content {
  width: 70%; }

.team__container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  background-color: rgba(47, 50, 52, 0.94);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.team__acco-item {
  margin-bottom: 30px;
  text-align: left; }

.team__acco {
  color: #fff; }

.team__acco-cause {
  font-size: 14px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-family: "Gagalin";
  color: #fff; }
  .team__acco-cause::before {
    content: " ";
    top: 5px;
    display: block;
    position: relative;
    margin-right: 9px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-width: 2px;
    border-top-color: #f9b43b; }

.team__acco-avatar {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  overflow: hidden;
  background-repeat: no-repeat; }

.team__acco-img {
  display: none;
  max-height: 100%;
  max-width: 100%; }

.team__acco-item--active .team__acco-cause {
  color: #f9b43b; }
  .team__acco-item--active .team__acco-cause:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.team__acco-item--active .team__acco-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.team__acco-content {
  padding-left: 25px;
  padding-top: 17px;
  display: none; }

.team__acco-text {
  padding-left: 21px;
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
  width: 209px; }

.team__acco-text-title {
  line-height: 15px;
  font-weight: 700; }

.menu {
  background: url("../images/background/burgermenu-bg.jpg") 50% no-repeat;
  background-size: cover;
  position: relative; }

.section__title-menu {
  position: absolute;
  color: #fff;
  top: 10%;
  left: 10%; }

.menu-burger__list {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu-burger__item {
  height: 100%; }

.menu-burger__trigger {
  width: 80px;
  float: left;
  display: block;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-decoration: none;
  position: relative; }

.menu-burger__trigger-text {
  font-size: 40px;
  font-family: "Gagalin";
  color: #fff;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  -webkit-transform: rotate(-90deg) translateY(-50%);
  -ms-transform: rotate(-90deg) translateY(-50%);
  transform: rotate(-90deg) translateY(-50%);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  left: 50%;
  top: 100%;
  margin-top: -20px; }

.menu-burger__content {
  height: 100%;
  float: left;
  background: rgba(47, 50, 52, 0.93);
  width: 0;
  overflow: hidden; }

.menu-burger__text {
  font-family: "Ubuntu";
  font-size: 14px;
  padding: 60px 30px;
  width: 100%;
  line-height: 1.8;
  display: none; }

.footer {
  background-image: url("../images/background/footer.jpg");
  background-position: center center;
  background-size: cover;
  width: 100%; }

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

.footer__content {
  height: 58px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff; }

.footer__left, .footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

/*# sourceMappingURL=main.css.map */