.burgers{
  background: linear-gradient(orange, gold);
  display: flex;
  align-items: center;
  position:relative;
}

.burgers__container{
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: rem(940px);
  @include tablets{
    width: rem(540px);
  }
}

.burgers__item{
  transition: .3s;
  display: flex;
  right:0;
  position: relative;
  will-change: right;

}

.burgers__right{
  margin-left: rem(15px);
  @include tablets(){
    text-align: center;
  }
}

.burgers__order, .burgers-link{
  margin-top: rem(36px);
}


.burgers__composition{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:hover{
    .burgers__composition-list{
      top:rem(0px);
      left:rem(90px);
    }
  }
}

.burgers__compsition-item{
  display: flex;
}

.burgers__list-icon, .burgers__list-desc{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.burgers__text-weight{
  margin-left: rem(60px);
}

.burgers__list-desc{
  margin-left: rem(10px);
}

.burgers__list-icon{
  width: rem(45px);
  height: rem(45px);
}

.burgers__composition-list{
  left: -9990px;
  position:absolute;
  background: rgba(#fff,0.7);
  width: rem(270px);
  height: rem(270px);
  z-index: 10000;
}

.burgers__composition{
  width: rem(90px);
  height: rem(90px);
  background: rgba(227, 80, 40, 0.4);
  border-radius: rem(5px);
}

.burgers__title, .burgers__price{
  font-size: 4.5rem;
  color: #fff;
  font-family: 'Gagalin';
  font-weight: 300;
  line-height: 1;
  margin: 0;
}

.burgers__description{
  margin-top: rem(56px);
  color: #fff;
  line-height: 1.7;
  font-weight: 300;
}

.burgers__price{
  color: $mainorange;
}

.burgers-link, .burgers__order{
  display: inline-flex;
}

.burgers-link{
  margin-left: rem(60px);
}

.burgers__svg{
  text-align: center;
}

.burgers__composition-text{
  text-align: center; 
  font-size: rem(14px);
  color: #fff;
  font-family: 'Gagalin';
  font-weight: 300;
  line-height: 1;
  margin: 0;
}

.burgers__currency{
  font-size: rem(35px);
  color: $mainorange;
  font-family: 'Gagalin';
  font-weight: 300;
  line-height: 2.8;
  margin: 0;
}

.burgers__list {
  display: flex;
  @include tablets{
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.burgers__left{
  display: flex;
  justify-content: center;
  align-items: center;
}


.burgers__right{
  display: flex;
  width: rem(422px);
}


.burgers-btn__slider-right{
  position: absolute;
  right: rem(20px);
  z-index: 1000;
  @include tablets(){
    right: rem(10px);
  }
}

.burgers-btn__right, .burgers-btn__left{
  cursor: pointer;
}


.burgers-btn__slider-left, .burgers-btn__slider-right{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.burgers-btn__slider-left{
  position: absolute;
  left: rem(20px);
  z-index: 1000;
  @include tablets(){
    left:rem(10px);
  }
}

.burgers__triangle-left {
  transform: rotate(135deg);
  border-bottom: rem(3px) solid #fff;
  border-right: rem(3px) solid #fff;
  border-bottom-right-radius: rem(7px); 
  width: rem(30px);
  height: rem(30px);
}

.burgers__triangle-right{
  transform: rotate(-45deg);
  border-bottom: rem(3px) solid #fff;
  border-right: rem(3px) solid #fff;
  border-bottom-right-radius: rem(7px); 
  width: rem(30px);
  height: rem(30px);
}