.footer {
  background-image: url("../images/background/footer.jpg");
  background-position: center center;
  background-size: cover;
  width: 100%;
}

.footer__container{
  display: flex;
  justify-content: space-around;
  flex: 0 0 auto;
}

.footer__contacts {
  font-size: rem(14px);
}

.footer__contacts-adress {
  margin-bottom: rem(5px);
}

.footer__content {
  height: rem(58px);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.footer__left, .footer__right{
  display: flex;
}

.footer__tel{
  text-decoration: none;
  color: $mainorange;
}

.footer__tel-icon {
  margin-right: rem(5px);
}


.social__item {
  display: inline-block;
  margin-left: rem(20px);
  &:first-child {
    margin-left: 0;
  }
}

.icon {
  opacity: 0.3;
  vertical-align: middle;
  fill: #00bfa5;
  width: rem(20px);
  height: rem(20px);
  transition: .3s;
  &:hover{
    opacity: 1;
  }

}