.greeting {
    background: url(../images/background/greeting-bg.png) center center no-repeat;
    background-size: cover;
    position: relative;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(10px);
}

.header__menu {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header__btn{
    display:flex;
}

.header__nav {
    margin-right: rem(15px);
    
    @include tablets() {
        display: none;
    }
}

.header__nav-list {
    margin: 0;
    padding: 0;
}

.header__nav-item {
    display:inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    &:after{
        display: inline-block;
        vertical-align: middle;
        content: " ";
        width: rem(4px);
        height: rem(4px);
        border-radius: 50%;
        background-color: #fff;
        margin: 0 rem(12px);
    }
    &:last-child:after{
        display:none;
    }
}

.header__nav-link{
    display: inline-block;
    font-size: rem(13px);
    font-weight: 500;
    line-height: 1.42;
    vertical-align: middle;
    transition: .3s;
    text-decoration: none;
    color: white;
    &:hover{
        text-decoration: underline; 
    }
}



.greeting__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.greeting__main {
    flex-wrap: wrap;
    flex-grow: 1;
    display: flex;
    align-items: center;
    @include tablets {
        
    }
}

.greeting__content {
    display: flex;
    @include tablets{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.greeting__content-right {
    flex-direction: column;
    justify-content: center;
    display: flex;
    flex-basis: 50%;

    @include tablets {
        flex-basis: none;
        align-items: center;
    }
}

.greeting__content-left{
    display: block;
    margin-right: rem(11px);
}

.section__title{
    font-size: rem(72px);
    color: $darkyellow;
    font-family: 'Gagalin';
    font-weight: 300;
    line-height: 1.42;
    margin: 0;
}

.greeting__content-text {
    color: #fff;
    font-family: 'Lifehack';
    font-size: rem(65px);
    font-weight: 400;
    line-height: 1;

    @include tablets {
        text-align: center;
    }
}

.greeting__dropdown {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greeting__triangle {
    transform: rotate(45deg);
    border-bottom: rem(3px) solid #fff;
    border-right: rem(3px) solid #fff;
    border-bottom-right-radius: rem(7px); 
    width: rem(30px);
    height: rem(30px);
}