
.greeting {
    background-image: url(../images/background/greeting-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.header__logo {
    margin-right: auto;
}

.header__nav {
    margin-right: rem(15px);
}

.header__nav-list {
    margin: 0;
    padding: 0;
}

.header__nav-item {
    display:inline-block;
    vertical-align: middle;
    white-space: nowrap;
    text-transform: uppercase;
    &:after{
        display: inline-block;
        vertical-align: middle;
        content: " ";
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 12px;
    }
    &:last-child:after{
        display:none;
    }
}

.header__nav-link{
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.42;
    vertical-align: middle;
    transition: .3s;
    text-decoration: none;
    color: white;
    &:hover{
        text-decoration: underline; 
    }
}

.greeting__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.greeting__main {
    flex-wrap: wrap;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.greeting__content{
    display: flex;
    width: 100%;
}

.greeting__content-left, .greeting__content-right {
    display: flex;
    flex-basis: 50%;
}

.greeting__content-right {
    justify-content: center;    
    flex-direction: column;
}

.section__title{
    font-size: 72px;
    color: $darkyellow;
    font-family: 'Gagalin';
    font-weight: 300;
    line-height: 1.42;
    margin: 0;
    padding-top: 60px;
}

.greeting__content-text {
    color: #fff;
    font-family: 'Lifehack';
    font-size: rem(65px);
    font-weight: 400;
    line-height: 1;
}

.greeting__dropdown {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greeting__triangle {
    transform: rotate(45deg);
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    border-bottom-right-radius: 7px; 
    width: 30px;
    height: 30px;
}