.section__order-delivety {
  background-image: url("../images/background/order-bg.jpg");
  background-size: cover;
  background-position: center center;
}

.section__title-order {
  display: flex;
  justify-content: center;
  margin-bottom: rem(44px);
  @include tablets{
    text-align: center;
  }
  @include phone{
    text-align: center;
  }
}



.order-delivety {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__order-delivery {
  background-color: gray;
}

.form__right, .form__left {
  display: flex;
  flex-basis: 50%;
  flex-direction: column; 
  @include tablets{
    width: 470px;
    align-items: center;
    justify-content: center;
  }
  @include phone{
    width: 97%;
  }
}



.form__block {
  flex: 1;
  margin-right: rem(20px);
}

.form__block-title {
  color: #fff;
}

.form-mobile__none{
  @include phone {
    display: none;
  }
}

.form__content {
  display: flex;
  @include tablets{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.form__line {
  display: flex;
  margin-bottom: rem(20px);
  @include tablets{
    width: 100%;
  }
} 

.form__input {
  outline: none;
  border: rem(1px) solid black;
  width: 100%;
  min-height: rem(33px);
  border-radius: rem(5px);
  padding-left: rem(21px);
  &:focus{
    border: rem(2px) solid #f9b43b;
  }
}

.form__textarea {
  outline: none;
  width: 100%;
  height: rem(109px);
  &:focus{
    border: rem(2px) solid #f9b43b;
    border-radius: rem(5px);
  }
}


.form__btn-order, .form__btn-clear {
  margin-right: rem(20px);
  display: inline-block;
}

.form__radio-label {
  color: #fff;
  &::before {
    display: inline-block;
    content: "";
    background-color: white;
    border: rem(4px) solid white;
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    margin-right: rem(10px);
  }
  &:after {
    content: " ";
    margin-right: rem(20px);
  }
}

.form__input-radiobtn:checked + .form__radio-label:before{  
  background-color: $mainorange;
}

.form__checkbox-label {
  color: #fff;
  &::before{
    display: inline-block;
    content: " ";
    background-color: #fff;
    width: rem(15px);
    height: rem(15px);
    margin-right: rem(10px);
    vertical-align: middle;
  }
}

.form__input-checkbox:checked {
   & + .form__checkbox-label:before {
    content: "\2713";
    color: $mainorange;
    text-align: center;
    font-size: rem(20px);
    line-height: rem(15px);
    vertical-align: middle;
  }
}


.form__textarea {
  padding-left: rem(21px);
  resize: none;
}