.reviews__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.reviews__item {
    width: 25%;
    height: 50%;
    filter: grayscale(100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    
    &:hover{
        .reviews__hover {
            opacity: 1;
        }
    }
    @include tablets{
        width: 50%;
        height: 25%;
    }
}

.reviews__title{
    color: white;
}

.reviews__hover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(#141414, .7);
    transition: .3s;
}

.reviews__comment-detail {
    @include tablets{
        margin: 0 auto;
    }
}

.reviews__comment {
    width: rem(222px);
    margin: 0 auto;
    padding-top: rem(50px);
    color: #fff;
    @include tablets {
        display: flex;
        flex-direction: column;
        width: 275px;
        padding-top: 35px;
    }

    @include phone {
        padding-top: 45px;
        width: auto;
    }
}

.reviews__comment-title {
    font-size: rem(14px);
    font-weight: 400;
    font-family: "Gagalin";
    @include tablets{
        display: flex;
        justify-content: center;
    }
    @include phone{
        font-size: 24px;
    }
}

.reviews__comment-text {
    padding-top: rem(30px);
    padding-bottom: rem(17px);
    line-height: rem(24px);
    font-size: rem(14px);
    text-align: left;
    color: white;
    @include tablets{
        text-align: center;
        padding-top: 15px;
    }
    @include phone{
        display:none;
    }
}

.order-link-reviews {
    background-color: #2f3234;
    &:hover{
        background-color: darken(#2f3234, 7%);
    }
    @include phone{
        content:"читать отзыв";
        margin-top: 29px;
    }

}