.team {
  background-image: url("../images/background/team-bg.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
}

.team__content {
  width: 70%;

  @include tablets{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.team__container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  background-color: rgba(#2f3234, .94);
  display: flex;
  align-items: center;
  justify-content: center;
  @include tablets {
    width: 100%;
  }
}

.team__acco-item {
  margin-bottom: rem(30px);
  text-align: left;
}

.team__acco {
  color: #fff;

  @include tablets{
    display:flex;
    flex-direction: column; 
    align-items: center;
  }
}

.team__acco-cause {
  font-size: rem(14px);
  font-weight: 400;
  display: flex;
  text-decoration: none;
  font-family: "Gagalin";
  color: #fff;
  &::before{
    content: " ";
    top: rem(5px);
    display:block;
    position: relative;
    margin-right: rem(9px);
    width: 0;
    height: 0;
    border: rem(8px) solid transparent;
    border-bottom-width: rem(2px);
    border-top-color: $darkyellow;
  }
  @include tablets {
    justify-content: center;
    font-size: 24px;
  }
}

.team__acco-avatar {
  width: rem(100px);
  height: rem(100px);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  overflow: hidden;
  background-repeat: no-repeat;
}

.team__acco-img{
  display: none;
  max-height: 100%;
  max-width: 100%;
}

.team__acco-item--active {
  .team__acco-cause {
    color: $darkyellow;
    &:before{
      transform: rotate(180deg);
    }
  }
  .team__acco-content {
    display: flex;
    @include tablets {
      align-items: center;
      flex-direction: column;
    }
  }
}

.team__acco-content {
  padding-left: rem(25px);
  padding-top: rem(17px);
  display: none;
}

.team__acco-text {
  padding-left: rem(21px);
  font-size: rem(14px);
  text-align: justify;
  width: rem(209px);
  @include tablets {
    width: 331px;
    text-align: center;
    padding: 0;
    padding-top: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.team__acco-text-title {
  line-height: rem(15px);
  font-weight: 700;


}