.best {
    background-image: url("../images/background/we-bg.png");
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    justify-content: center;
    text-align: center;
    display:flex;
    align-items: center;
}

.best__main {
    display: flex;
    flex-direction: column;
}

.section__title--best {
    display: flex;
    justify-content: center;
    align-items: center;    
    color: black;
}

.best__description {
    display: flex;  
    flex-direction: column;
}


.best__description-list {
    display:flex;
    @include phone{
        flex-direction: column;
    }
}

.best__description-item {
    padding-top: rem(55px);
    padding-right: rem(36px); 
    display: flex;
    flex-direction: column;
    @include phone{
        flex-direction: row;
    }
}

.best__description-title {
    padding-top: rem(34px);
    text-align: center;
    font-family: 'Lifehack';
    font-size: rem(24px);
    @include phone {
        padding: 0;
        text-align: left;
    }
}

.best__description-icon{
    @include phone{
        width: 90%;
        display:flex;
    }
}

.best__description-text {
    padding-top: rem(12px);
    text-align: justify;
    text-align-last: center;
    flex-direction: column;
    font-size: rem(14px);
    @include phone {
        text-align: left;
        text-align-last: auto;
    }
}