@font-face {
    font-family: 'Gagalin';
    src: url('../fonts/gagalin/gagalin-regular-webfont.woff2') format('woff2'),
         url('../fonts/gagalin/gagalin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Lifehack';
    src: url('../fonts/lifehack_medium-webfont.woff2') format('woff2'),
         url('../fonts/lifehack_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}